<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let beer of beers" (click)="itemTapped($event, beer)">
      <ion-icon name="beer" item-start></ion-icon>
      {{beer.name}}
      <div class="item-note" item-end>
        {{beer.style}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.name}}</b>
  </div>
</ion-content>
